<div class="flex flex-row bg-green-400 p-4 space-between shadow-lg">
    <h1  routerLink="" class="text-xl mr-2 rounded-xl bg-green-400 p-2 hover:bg-green-300 my-auto w-fit">💻Le Blog</h1>
      <div class="ml-10 w-2/3">
        <div class=" text-center my-auto mx-auto flex-row mr-5 mt-1 space-x-5 hidden md:flex">
          <a *ngFor="let item of pagesList" class="rounded-xl bg-green-400 p-2 hover:bg-green-300" routerLink="{{item.url}}">{{item.label}}</a>
        </div>
    </div>
    <img class="my-auto visible md:invisible mr-3 hover:scale-105" src="/assets/menu.png" alt="burger" width="40" (click)="toggler()" />
</div>
<div class="border">
  <div *ngIf="toggle" class="bg-green-400 text-center shadow-md">
    <div *ngFor="let item of pagesList" routerLink="{{item.url}}" (click)="toggler()" class="p-3 hover:border hover:bg-green-300">
      {{item.label}}
    </div>  
  </div>
</div>



