<div class="w-5/6 mx-auto mt-20 text-center">
  <header class="flex flex-row justify-between bg-green-400 p-3 rounded-xl">
    <h1 class="text-2xl my-auto ml-2">📰{{article?.title}}</h1>
    <div>
      <button class="bg-gray-200 p-3 rounded-xl hover:bg-indigo-400 mr-3" routerLink="update" >Mettre à jour</button>
      <button class="bg-gray-200 p-3 rounded-xl hover:bg-red-400" routerLink="deleted" (click)="deleteArticle(article!.id!)">Supprimer</button>
    </div>
  </header>
  <p class="text-lg text-justify mx-3 my-5">{{article?.content}}</p>
  <div class="flex flex-row justify-between bg-green-400 p-3 rounded-xl">
    <p>{{article?.author}}</p>
    <p>{{article?.date}}</p>
  </div>
  <button *ngIf="!toggle" class="bg-green-400  mt-20 p-5 text-xl rounded-xl hover:bg-green-300 hover:scale-105 mr-3" (click)="toggler()" >Commenter</button> 
    <div *ngIf="toggle"  class="text-center place-items-center">
      <form class="p-2 mt-20 w-full mx-auto rounded-2xl border-2 border-green-400 shadow-lg bg-green-400">
        <p class="mt-10 mb-5">Auteur :</p>
        <input class="border-2 border-green-400 focus:outline-none focus:ring focus:ring-green-200 w-2/4 px-3 py-1 rounded-xl shadow-md hover:scale-x-105" 
        [(ngModel)]="author" 
        [ngClass]="(badAuthor == false) ? 'border-green-200' : 'border-red-600'"
        type="text" name="title" id="title">
        <p *ngIf="badAuthor == true" class="text-red-600 text-sm mt-2">Nombre de caractères minimum : 3</p>
        <p class="my-5">Contenu :</p>
        <textarea class="border-2 border-green-400 focus:outline-none focus:ring focus:ring-green-200 p-2 w-3/4 h-30 rounded-xl shadow-md" 
        [(ngModel)]="content"
        [ngClass]="(badContent == false) ? 'border-green-200' : 'border-red-600'"
        type="text" name="content" id="content"></textarea>
        <p *ngIf="badContent == true" class="text-red-600 text-sm mt-1">Ce champ ne peut être vide !</p>
        <br>
          <button class="mx-3 my-10 bg-white focus:outline-none focus:ring focus:ring-green-200 p-3 px-5 rounded-xl shadow-md hover:bg-red-400 hover:scale-x-105" (click)="toggler()">Annuler</button>
          <button class="mx-3 my-10 bg-white focus:outline-none focus:ring focus:ring-green-200 p-3 px-5 rounded-xl shadow-md hover:bg-indigo-400 hover:scale-x-105" (click)="addComment()">Poster</button>
        <br>
      </form>
    </div>
  <div  class="flex flex-row justify-between mt-20">
    <h2 class="text-2xl " >✉️ Section commentaires :</h2>
    <h2 class="text-2xl " >{{article?.lisComment?.length}}</h2>
  </div>
  <hr *ngIf="article?.lisComment!.length > 0" class="mb-20">
  <div *ngFor="let comment of article?.lisComment">
    <div class="flex flex-row justify-between p-2 rounded-xl my-10">
      <h1 class="text-xl my-auto underline">💬 {{comment?.author}}</h1>
    </div>
    <p class="text-lg text-justify mb-10">{{comment.content}}</p>
    <div class="flex flex-row justify-between rounded-xl">
      <p class="text-lg underline">{{comment?.date | date}}</p>
      <div>
        <div></div>
        <button class="bg-gray-200 p-3 rounded-xl hover:bg-red-400" (click)="deleteComment(comment.id!)" >Supprimer</button>
      </div>
    </div>
    <hr class="mt-10">
  </div>
</div>