<div class="text-center place-items-center p-2 mt-72 w-2/3 mx-auto my-auto rounded-2xl border-2 border-green-400 shadow-lg bg-green-400">
    <h2 class="text-3xl mt-10">Votre article a bien été enrengistré 👍 </h2>
    <button class="my-10 bg-white focus:outline-none focus:ring focus:ring-green-200 p-3 px-5 rounded-xl shadow-md hover:bg-gray-200 hover:scale-x-105" routerLink="">Revenir à l'accueil</button>
</div>
