<div class="text-center place-items-center">
  <form class="p-2 mt-10 w-2/3 mx-auto rounded-2xl border-2 border-green-400 shadow-lg bg-green-400">
    <h2 class="text-3xl mt-10">Changer le contenu de l'article</h2>
    <p class="mt-10 mb-5">Titre :</p>
    <input class="border-2  focus:outline-none focus:ring focus:ring-green-200 w-3/4 px-3 py-1 rounded-xl shadow-md hover:scale-x-105" 
    [(ngModel)]="article.title" 
    [ngClass]="(badTitle == false) ? 'border-green-200' : 'border-red-600'"  
    type="text" name="title" id="title">
    <p *ngIf="badTitle == true" class="text-red-600 text-sm mt-2">Nombre de caractères minimum : 3</p>
    <p class="my-5">Auteur :</p>
    <input  class="border-2 border-green-400 focus:outline-none focus:ring focus:ring-green-200 w-2/4 rounded-xl px-3 py-1 shadow-md hover:scale-x-105" 
    [(ngModel)]="article.author" 
    [ngClass]="(badAuthor == false) ? 'border-green-200' : 'border-red-600'" 
    type="text" name="author" id="author">
    <p *ngIf="badAuthor == true" class="text-red-600 text-sm mt-2">Nombre de caractères minimum : 3</p>
    <p class="my-5">Contenu :</p>
    <textarea class="border-2 border-green-400 focus:outline-none focus:ring focus:ring-green-200 p-2 w-3/4 h-60 rounded-xl shadow-md" 
    [(ngModel)]="article.content"
    [ngClass]="(badContent == false) ? 'border-green-200' : 'border-red-600'" 
    type="text" name="content" id="content">
    </textarea>
    <p *ngIf="badContent == true" class="text-red-600 text-sm mt-1">Ce champ ne peut être vide !</p>
    <br>
    <button class="my-10 bg-white focus:outline-none focus:ring focus:ring-green-200 p-3 px-5 rounded-xl shadow-md hover:bg-gray-200 hover:scale-x-105" 
    (click)="send()">Mettre à jour</button>
    <br>
  </form>
</div>
