<div class="w-5/6 mx-auto mt-20 text-center">
  <hr>
    <h2 class="text-2xl my-5">Presentation du site</h2>
    <hr>
  <p class="my-8 text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Urna id volutpat lacus laoreet non curabitur gravida arcu ac. Egestas quis ipsum suspendisse ultrices. Justo eget magna fermentum iaculis eu non diam phasellus vestibulum. Quam quisque id diam vel. Facilisi morbi tempus iaculis urna id volutpat lacus laoreet non. Bibendum arcu vitae elementum curabitur. Enim sed faucibus turpis in. Leo duis ut diam quam nulla. Augue mauris augue neque gravida in fermentum et sollicitudin. Eget velit aliquet sagittis id consectetur. Nunc sed id semper risus in hendrerit gravida rutrum. Faucibus purus in massa tempor nec feugiat nisl. Tellus elementum sagittis vitae et leo duis. In ante metus dictum at tempor commodo. Sem et tortor consequat id porta nibh. Lectus nulla at volutpat diam ut venenatis tellus in metus. Placerat orci nulla pellentesque dignissim enim sit.</p>
  <hr>
  <h2 class="text-2xl my-10" >Liste des articles </h2>
    <hr>
    <div *ngFor="let article of articles">
      <div class="my-10 hover:scale-105 transition duration-0 hover:duration-700" routerLink="article/{{article.id}}">
        <div class="shadow-md flex flex-row bg-green-400 p-3 rounded-xl justify-between" >
          <h2 class="shadow-md rounded-xl bg-green-300 px-3 p-2  text-xl ml-2">{{article?.title}}</h2>
          <p class="shadow-md my-auto rounded-xl p-2 bg-green-300 px-3">{{article?.author}}</p>
        </div>
        <p class="my-5 text-justify">{{article?.content}}</p>
        <div class="flex flex-row bg-green-400 p-3 rounded-xl justify-between mb-10" >
          <p class="shadow-md ml-1 my-auto rounded-xl bg-green-300 px-3 p-2">{{article?.date | date}}</p>
          <button routerLink="article/{{article.id}}" class="shadow-md justify-self-end ml-48 bg-white hover:bg-gray-200 hover:scale-105 rounded-xl p-2 px-3">Voir</button>
        </div>
    </div>
    <hr>
</div>


